<h1>Your todo list</h1>


<h2>Add a new todo</h2>

<form action="/insert_todo" method="post">
  <div>
    <label for="content_box">Describe the task:</label>
    <input type="text" id="content_box" name="query_content">
  </div>
  <button> Add to Next Up </button>
</form>


<div class="next_up" style="color: darkorange">
  <h2>Next Up</h2>
    <ul>
    <% @list_of_todos.each do |todo| %>
      <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a><p><%= time_ago_in_words(todo.created_at) %> ago</p</li>
    </ul>
    <form action="/modify_todo/<%= todo.id %>" method="post">
        <input type="hidden" name="query_status" value="next_up">
        <button>Move to In Progress</button>
    </form>
  <% end %>
</div>

<div class="in_progress" style="color: darkgreen">
  <h2>In Progress</h2>
  <ul>
    <% @list_of_todos.each do |todo| %>
      <% if todo.status =="next_up" %>
        <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a>Started <%= time_ago_in_words(todo.updated_at).gsub(/about /, '')%> ago</li>
        <form action="/modify_todo/<%= todo.id %>" method="post">
          <input type="hidden" name="query_status" value="done">
          <button>Move to Done</button>
        </form>
       <% end%>
    <% end%>
  </ul>
</div>


<div class="done" style="color: grey">
  <h2>Done</h2>
  <ul>
    <% @list_of_todos.each do |todo| %>
      <% if todo.status == "done" %>
      <% time=Time.now %>
    <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a><p>Completed at <%= todo.updated_at.strftime("%l:%M%P on %d-%b-%Y")%> ago</p></li>
      <% end %>
    <% end %>
  </ul>
</div>
